{% extends 'main/base.html' %}
{% load static %}
{% load my_tags %}


{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>

<div class="album py-5 bg-light">
  <a class="btn btn-outline-primary" href="{% url 'main:blog_create' %}">Добавить запись</a>
  <div class="container">
    <div class="row">
      {% for object in object_list %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{% mediapath object.preview %}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{ object.title }}</p>
            <p class="card-text">{{ object.content|truncatechars:100 }}</p>
            <p class="card-text">{{ object.date }}</p>
            <p class="card-text">{{ version.name_of_version }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'main:blog_detail' object.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                <a href="{% url 'main:blog_edit' object.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                <a href="{% url 'main:blog_delete' object.pk %}" class="btn btn-sm btn-outline-secondary">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</div>
</html>
{% endblock %}