{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load my_tags %}

<link href={% static 'css/style.css' %} rel="stylesheet">
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="article-container">
        Просмотры: {{ object.number_of_views }}
        <img class="card-img-top" src="{% mediapath blog.preview %}" alt="Card image cap">
        <h1>{{ blog.title }}</h1>
        <p>Дата написания: {{ blog.date }}</p>

        <div>
            <p>Содержание статьи:</p>
            <p>{{ blog.content }}</p>
        </div>
    </div>
</body>
</html>

{% endblock %}