{% extends 'main/base.html' %}
{% block content %}

<title>Удаление статьи</title>
    <div class="col">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Хотите удалить продукт "{{ product.name }}"?</p>
                            <button type="submit" name="confirm" value="Confirm" class="btn btn-warning">Подтвердить</button>
                            <a href="{% url 'home' %}" class="btn btn-success">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}